
 html{

 }


 body 
 {
    position:absolute;
    width:50%;
    margin-left:25%;
    margin-top:3em;
    margin-right: 25%;
 	background-color:white;
 	overflow:scroll;

 }
 .topmenu
 {
  position:fixed;
  top: 0px;
  left:0px;
  right:0px;
  background-color:#ff7100;
  height:3em;
  text-align:left;
  z-index:10;
 }

 .topmenu p {
  display:block;
  margin-left:25%;
  margin-top:.5em; 
  float:left; 
  color:white; 
  font-size:1.5em;
  font-family: Calibri,sans-serif; 
 }

 #toplist{
    margin:1.25em 0 0 0;
    padding:0; 
 }

.toplistitem 
{  
  display:inline;
  float:left;
  text-align: center;
  height:1em; 
  color:white;
  padding:0 10px 0 10px;
 }
 .menulink{
    text-decoration: none;
    color: white;
    font-family: Calibri,sans-serif;
    font-size:.85em; 
 }
 
 .container{
 	
    height:600px;
    overflow:hidden; 
 }
 
 .large 
 {  
 	position:relative;
 	float:left;
    width:100%;
    height:300px;
    overflow:hidden;
 }
 
 .large img
 {  
    position:absolute;
    top : 0px;
    left :0px;
    width:100%;
    height:300px;
    overflow:hidden;
 }
.large article {

     color:white;
     z-index:5;
     position:absolute;
     top:60px;
     right:20px;
     width:200px;
     height:300px;
     padding:10px 10px 10px 10px;
  }
  .large article h2{
     position:relative;
     font-family:sans-serif; 
     font-weight:5; 
  }

 .large a {
    position: relative;
    text-decoration:none; 
    font-size:1em;
    font-family:sans-serif; 
    color:white;
 }

 .small
 { 
   position:relative;
   width:50%;
   height:300px;
   float: left;
   overflow:hidden;
 }

 #backlink, #nextlink {
 	 
     width:70px;
     height:30px;
     display:block;
     background-color:#ff7100;
     color:white;
     position:absolute;
     top:280px ;
     text-decoration: none;
     text-align: center;
     padding-top: 9px;
     font-size: 1em;

 }
 

 #nextlink {
     right:0;
     top :280px;
 }

.container a {
    
} 

footer 
{
  display:block; 
  position:relative;
  margin-top:100px; 
  width:100%;
  height:3em;
  text-align: left;

}
.formalities {
 margin:0;
 padding:0;
}
.formalities li{
  display:inline;
  float:left;
  font-size:.7em; 
  position:relative;
  top:2em;
  text-align: center;
  padding: 0 10px 0 10px;
  font-family: Calibri,sans-serif;   
}
.formalities li a {
  text-decoration: none;
  color:black;
}
.social-connect
{
  position:relative;  
  margin:0 0 0 87%; 
  background-color:red; 
}

.social-items
{ 
  margin:0;
  padding:0;
list-style-type: none;
}
.twitter .linkedin .youtube {
  display: inline;
  float:left;
}
.twitter a{
  display:block; 
  float:left;
  height:32px;
  width:32px;
  margin-left:5px; 
  margin-bottom:0;
  text-indent: -9999px;
  white-space: nowrap;
  text-decoration: none;
  background-image: url(twitter.png); 
  border-radius: 10px;
}

.linkedin a {
  display:block;
  float:left;
  height:32px;
  width:32px;
    margin-left:5px;
  text-indent: -9999px;
  white-space: nowrap;
  text-decoration: none;
  background-image: url(linkedin.jpeg);
   border-radius: 10px;
  }
.youtube a{ 
  display:block;
  float:left;
  height:32px;
  width:32px;
    margin-left:5px;
  text-indent: -9999px;
  white-space: nowrap;
  text-decoration: none;
  background-image: url(youtube.png);
  border-radius: 10px;  
}
.data{
  text-indent: 20%;
  font-family: Calibri,sans-serif;
  text-align:justify;
  font-size: .9em;

}
